// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$mpt-dark: #383838;
$mpt-white:#F1F1F1;
$mpt-light:#F5F5F5;
$mpt-dust:#DED1C1;
$mpt-sand:#C1B283;

