body.home .navbar-wagon {
  position: absolute;
  width: 100%;
  top:0;
  background:transparent;
  box-shadow:none;
 }

body.home .navbar-wagon a {
color: #FFF;
}

ul.menu-search {
  padding: 0; margin: 0;
  list-style-type:none;
  display: flex;
  justify-content: space-around;
}

ul.menu-search li {

}

ul.menu-search li a {
  color: #FFF;
 }

ul.menu-search li a:hover { text-decoration: none; opacity: 0.5; }
ul.menu-search li  { opacity: 0.5;   padding:20px;  }
ul.menu-search li.active  { opacity: 1;  }
.mw-100 { width: 100%; }

.search form { padding: 0 2em 2em 2em; }

.banner {
  background-image:url(image_path('mpt-bg.jpg'));
  background-size:cover;
  background-position: center center;

  height: 100vh;
  /* height: calc(100vh - 70px);*/
  align-items: center;
  justify-content: space-around;
  display:flex;

}

@media (max-width: 500px) {
  .banner {
flex-direction: column;
  }
}

.banner .info { display: flex;
align-items:center;
padding:2em; }

.info h1 {
  margin: 0;
  font-size:3em;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  font-weight: 100;
}

.search {
  background-color: rgba(0,0,0,0.2);
  box-shadow: 1px 2px rgba(0, 0, 0, 0.2);

}

.index h1 {
  font-size:1.6em;
  margin:0;
  text-transform: uppercase;
}

.top {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flatpickr-calendar .flatpickr-day.selected { background-color:$mpt-sand;
  border-color:$mpt-light;  }


.input-group-addon { color: #cfcfcf; background-color:#FFF; border:none; }

.container-custom {
}

.intro-section {
  text-align: center;
  p {
    margin: 0 0 5px;
  }
  margin-bottom: 10px;
}

.intro-cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 0vw 8vw;
}

.intro-card {
  margin: 18px;
  flex-basis: 25%;
  border-radius: 10px;
  background: #efecdc75;
  box-shadow: 0px 2px 0px #8a6d3b26;
  height: auto;
  min-height: 20vh;
}

.intro-card-title {
  padding: 20px;
  font-size: medium;
  font-weight: bold;
}

.intro-card-text {
  padding: 0 20px 15px;
}

.slider-outer-container {
    background: #e6e6e67a;
}


@media (max-width: 769px) {
  .slider-container {
    margin: 5rem 8vw 0 8vw;
    overflow: hidden;
    position:relative;
  }
}

@media (min-width: 770px) {
  .slider-container {
    margin: 5rem 8vw 0 8vw;
    overflow: hidden;
    position:relative;
  }
}


img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}

.my-slider {
    position: relative;
}

.slider-item {
    position: relative;
    &:hover {
        cursor: pointer;
    }
}

.fas {
  color: black;
  font-size: xx-large;
}

.controls {
    margin: 0;
    padding: 0px 8px;
    list-style: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:focus {
        outline: none;
    }

    li:hover {
        cursor: pointer;
    }
}

.slider-card {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media (max-width: 769px) {
  .slider-card-agent {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;

      .agent-name {
        font-weight: bold;

      }
      .agent-agency {
        border-bottom: 0.2rem solid;
        padding-bottom: 1mm;
      }
  }

  .slider-card-testimonial {
  padding: 1rem;
  font-size: large;
  text-align: center;
  }
}

@media (min-width: 770px), (max-width: 970px) {
  .slider-card-agent {
      padding-top: 2rem;
      padding-bottom: 2rem;
      min-width: 20rem;
      text-align: center;

      .agent-name {
        font-weight: bold;

      }
      .agent-agency {
        border-bottom: 0.2rem solid;
        padding-bottom: 1mm;
      }
  }

  .slider-card-testimonial {
    padding: 2rem;
    font-size: large;
    text-align: center;
  }
}

@media (min-width: 971px) {
  .slider-card-agent {
      padding-top: 6rem;
      padding-bottom: 3rem;
      min-width: 20rem;
      text-align: center;

      .agent-name {
        font-weight: bold;

      }
      .agent-agency {
        border-bottom: 0.2rem solid;
        padding-bottom: 1mm;
      }
  }

  .slider-card-testimonial {
    padding: 6rem;
    padding-bottom: 3rem;
    font-size: large;
    text-align: center;
  }
}


.section-car {
  padding: 0vw 8vw;
}

.car-card-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.car-card-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.car-image {
  width: 300px;
}

.car-description {
  width: 60vw;

.confirm-grid {
  margin: 1em 0;
  padding:2em;
  background-color: $mpt-light;
  display: grid;
  grid-template-columns:1fr 2fr;
  }

.confirm-grid > span {
    padding: 0.5em;
}
