<div class="container">
  <h2>Agent dashboard</h2>

  <p><%= link_to "All services", dashboard_path %> - <strong>My revenues</strong></p>

<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 -->

    <% @months_hash.each do |index, month| %>
      <% if index <= DateTime.now.month %>
        <div class="row">
          <p><%= month %> <%= @monthly_revenue[index -1] %></p>
        </div>
      <% end %>
    <% end %>
</div>
