<div class="footer">
  <p>Toll free from US:<br/>
      1 866 813 7381<br/>
      info@myprivatetransfer.com<br/>
  </p>
  <%= image_tag("footer_small_logo.png") %>
  <p>My Private Transfer © 2019</p>
</div>
