<div class="service-progress">

<ul class="service-menu">
  <li class="active"><i class="fas fa-car"></i>Choose a car</li>
  <li><i class="fas fa-users"></i>Add information</li>
  <li><i class="fas fa-check"></i>Confirm & pay</li>
  <!-- <li><i class="fas fa-chart-line"></i></i>Dashboard</li> -->
</ul>
</div>
