.footer {
  background-color:#fcfcfc;
  display:flex;
  align-items: center;
  justify-content: space-around;
  font-size:0.8em;
  padding: 2em 8em 2em 8em;
  margin-top:6em;
}

.footer > img {
  opacity: 0.6;
  height: 28px;
}

