.cars {
  display: flex;
  flex-wrap:wrap;

}

.car {
margin: 0 0 20px 0;
background-color: #FFF;
padding: 2%;
flex: 1 21%;
position: relative;
border:1px solid #FFF;
 }

.price { position: absolute; top:1em; right: 1em;
background-color: $mpt-dark; color:#FFF; padding:0.5em; border-radius: 1px;  }
.price h4 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

 .car a {
position: absolute;
left: 0;
top:0;
right: 0;
bottom: 0;
 }

 .car:hover {
  border:1px solid $mpt-sand;
 }

.cars img {
max-width: 100%;
}

.desc {
  color:$mpt-dust;
  font-size: 0.9em;
}

@media (max-width: 500px)  {
  .car {
padding: 2%;
flex: 1 100%;
 }

}
