.child-menu {
  border-radius: 5px;
  margin: 25px 0px 20px 0px;
}

.month {
  background: #efeaea;
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: start;
  align-items: center;
  margin-bottom: 10px
}

.table-headers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: start;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: thick double #428bca;
  padding-bottom: 5px;

}

.msg-delivered-services {
  text-align: center;
  background: #5cb85c;
  border: dashed thin;
  padding: 10px;
}

.msg-confirmed-service {
  text-align: center;
  background: #5bc0de;
  border: dashed thin;
  padding: 10px;
}

.item-a {
  grid-column-start: 1;
  grid-column-end: 1;
}


.item-b {
  grid-column-start: 2;
  grid-column-end: 2;
}

.item-c {
  grid-column-start: 3;
  grid-column-end: 3;
}

.item-d {
  grid-column-start: 4;
  grid-column-end: 4;
}

.item-e {
  grid-column-start: 5;
  grid-column-end: 5;
}
